a:hover {
  text-decoration: none;
}
.atwho-emoji {
  border-radius: 20px;
  background-color: #fff;
  padding: 1px;
  box-shadow: 0px 0px 2px 1px #ebebeb;
}
.fa{
  color: #F59C61;
}
.dropdown-menu {
  border: 1px solid #2b3e50;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px;
  box-shadow: 10px 10px 10px #2b3e50;
}
#topbar-second {
  background-image: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
#topbar-second .nav > li > a {
  padding: 6px 13px 0px 13px;
  text-decoration: none;
  text-shadow: none;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  min-height: 49px;
}
#topbar-second .nav > li > a:hover,
#topbar-second .nav > li > a:active,
#topbar-second .nav > li > a:focus {
  text-decoration: none;
}
#topbar-second .nav > li > a i {
  font-size: 14px;
}
#topbar-second .nav > li > a .caret {
  border-top-color: #7a7a7a;
}
#topbar-second .nav > li.active > a {
  min-height: 46px;
}
#topbar-second .nav > li > a#space-menu {
  padding-right: 13px;
  border-right: 1px solid #ededed;
}
#topbar-second .nav > li > a#search-menu {
  padding-top: 15px;
}
#topbar-second .nav > li > a:hover,
#topbar-second .nav .open > a,
#topbar-second .nav > li.active {
  border-bottom: 3px solid #df691a;
}
#topbar-second .nav > li.active > a:hover {
  border-bottom: none;
}
#topbar-second #space-menu-dropdown li > ul > li > a > .media .media-body p {
  color: #bebebe;
  font-size: 11px;
  margin: 0;
  font-weight: 400;
}
.wall-entry .media .img-space {
  position: absolute;
  top: 40px;
  left: 40px;
}
